In [1]:
from time import sleep

from vnpy.event import EventEngine
from vnpy.trader.engine import MainEngine
from vnpy_ctp import CtpGateway
from vnpy_self.ctp_setting import *
import pandas as pd

ctp_setting = ctp_map("uat")

event_engine = EventEngine()
main_engine = MainEngine(event_engine)
main_engine.add_gateway(CtpGateway)
main_engine.write_log("主引擎创建成功")
main_engine.connect(ctp_setting, "CTP")
main_engine.write_log("连接CTP接口")
omsEngine = main_engine.get_engine('oms')
while(1):
    tmp = omsEngine.get_all_trades()
    if tmp is not None and len(tmp) != 0:
        break;  

qwe1 = pd.DataFrame([x.__dict__ for x in tmp])
print(qwe1)
    
while(1):
    tmp = omsEngine.get_all_orders()
    if tmp is not None and len(tmp) != 0:
        break;  

qwe2 = pd.DataFrame([x.__dict__ for x in tmp])
print(qwe2)

main_engine.close()

  gateway_name  symbol       exchange         orderid           tradeid  \
0          CTP  eg2501   Exchange.DCE  3_1442987093_1             19296
1          CTP   l2501   Exchange.DCE  3_1442987093_2             19297
2          CTP   p2501   Exchange.DCE  3_1442987093_3             19298
3          CTP   SA501  Exchange.CZCE  3_1442987093_4  2024120500019299
4          CTP   a2501   Exchange.DCE  3_1442987093_5             19300
5          CTP  cs2501   Exchange.DCE  3_1442987093_6             19301
6          CTP  jm2501   Exchange.DCE  3_1442987093_7             19312
7          CTP   PF502  Exchange.CZCE  3_1442987093_8  2024120500019315
8          CTP   CY503  Exchange.CZCE  3_1442987093_9  2024120500019342

         direction        offset    price  volume                  datetime  \
0   Direction.LONG  Offset.CLOSE   4660.0       4 2024-12-04 21:16:03+08:00
1   Direction.LONG   Offset.OPEN   8415.0       2 2024-12-04 21:16:03+08:00
2   Direction.LONG  Offset.CLOSE  10332.0       2 2024-12-04 21:16:03+08:00
3  Direction.SHORT   Offset.OPEN   1425.0       3 2024-12-04 21:16:03+08:00
4  Direction.SHORT   Offset.OPEN   3826.0       5 2024-12-04 21:16:03+08:00
5   Direction.LONG  Offset.CLOSE   2481.0       1 2024-12-04 21:16:03+08:00
6  Direction.SHORT   Offset.OPEN   1204.5       2 2024-12-04 21:16:03+08:00
7   Direction.LONG  Offset.CLOSE   6896.0       6 2024-12-04 21:16:04+08:00
8   Direction.LONG   Offset.OPEN  19915.0       1 2024-12-04 21:16:06+08:00

    vt_symbol          vt_orderid            vt_tradeid
0  eg2501.DCE  CTP.3_1442987093_1             CTP.19296
1   l2501.DCE  CTP.3_1442987093_2             CTP.19297
2   p2501.DCE  CTP.3_1442987093_3             CTP.19298
3  SA501.CZCE  CTP.3_1442987093_4  CTP.2024120500019299
4   a2501.DCE  CTP.3_1442987093_5             CTP.19300
5  cs2501.DCE  CTP.3_1442987093_6             CTP.19301
6  jm2501.DCE  CTP.3_1442987093_7             CTP.19312
7  PF502.CZCE  CTP.3_1442987093_8  CTP.2024120500019315
8  CY503.CZCE  CTP.3_1442987093_9  CTP.2024120500019342
  gateway_name  symbol       exchange         orderid           type  \
0          CTP  eg2501   Exchange.DCE  3_1442987093_1  OrderType.FAK
1          CTP   l2501   Exchange.DCE  3_1442987093_2  OrderType.FAK
2          CTP   p2501   Exchange.DCE  3_1442987093_3  OrderType.FAK
3          CTP   SA501  Exchange.CZCE  3_1442987093_4  OrderType.FAK
4          CTP   a2501   Exchange.DCE  3_1442987093_5  OrderType.FAK
5          CTP  cs2501   Exchange.DCE  3_1442987093_6  OrderType.FAK
6          CTP  jm2501   Exchange.DCE  3_1442987093_7  OrderType.FAK
7          CTP   PF502  Exchange.CZCE  3_1442987093_8  OrderType.FAK
8          CTP   CY503  Exchange.CZCE  3_1442987093_9  OrderType.FAK

         direction        offset    price  volume  traded            status  \
0   Direction.LONG  Offset.CLOSE   4660.0       4       4  Status.ALLTRADED
1   Direction.LONG   Offset.OPEN   8415.0       2       2  Status.ALLTRADED
2   Direction.LONG  Offset.CLOSE  10332.0       2       2  Status.ALLTRADED
3  Direction.SHORT   Offset.OPEN   1425.0       3       3  Status.ALLTRADED
4  Direction.SHORT   Offset.OPEN   3826.0       5       5  Status.ALLTRADED
5   Direction.LONG  Offset.CLOSE   2481.0       1       1  Status.ALLTRADED
6  Direction.SHORT   Offset.OPEN   1204.5       2       2  Status.ALLTRADED
7   Direction.LONG  Offset.CLOSE   6896.0       6       6  Status.ALLTRADED
8   Direction.LONG   Offset.OPEN  19915.0       1       1  Status.ALLTRADED

                   datetime reference   vt_symbol          vt_orderid
0 2024-12-04 21:16:03+08:00            eg2501.DCE  CTP.3_1442987093_1
1 2024-12-04 21:16:03+08:00             l2501.DCE  CTP.3_1442987093_2
2 2024-12-04 21:16:03+08:00             p2501.DCE  CTP.3_1442987093_3
3 2024-12-04 21:16:03+08:00            SA501.CZCE  CTP.3_1442987093_4
4 2024-12-04 21:16:03+08:00             a2501.DCE  CTP.3_1442987093_5
5 2024-12-04 21:16:03+08:00            cs2501.DCE  CTP.3_1442987093_6
6 2024-12-04 21:16:03+08:00            jm2501.DCE  CTP.3_1442987093_7
7 2024-12-04 21:16:04+08:00            PF502.CZCE  CTP.3_1442987093_8
8 2024-12-04 21:16:06+08:00            CY503.CZCE  CTP.3_1442987093_9

In [2]:
qwe1

,gateway_name,symbol,exchange,orderid,tradeid,direction,offset,price,volume,datetime,vt_symbol,vt_orderid,vt_tradeid
0,CTP,eg2501,Exchange.DCE,3_1442987093_1,19296,Direction.LONG,Offset.CLOSE,4660.0,4,2024-12-04 21:16:03+08:00,eg2501.DCE,CTP.3_1442987093_1,CTP.19296
1,CTP,l2501,Exchange.DCE,3_1442987093_2,19297,Direction.LONG,Offset.OPEN,8415.0,2,2024-12-04 21:16:03+08:00,l2501.DCE,CTP.3_1442987093_2,CTP.19297
2,CTP,p2501,Exchange.DCE,3_1442987093_3,19298,Direction.LONG,Offset.CLOSE,10332.0,2,2024-12-04 21:16:03+08:00,p2501.DCE,CTP.3_1442987093_3,CTP.19298
3,CTP,SA501,Exchange.CZCE,3_1442987093_4,2024120500019299,Direction.SHORT,Offset.OPEN,1425.0,3,2024-12-04 21:16:03+08:00,SA501.CZCE,CTP.3_1442987093_4,CTP.2024120500019299
4,CTP,a2501,Exchange.DCE,3_1442987093_5,19300,Direction.SHORT,Offset.OPEN,3826.0,5,2024-12-04 21:16:03+08:00,a2501.DCE,CTP.3_1442987093_5,CTP.19300
5,CTP,cs2501,Exchange.DCE,3_1442987093_6,19301,Direction.LONG,Offset.CLOSE,2481.0,1,2024-12-04 21:16:03+08:00,cs2501.DCE,CTP.3_1442987093_6,CTP.19301
6,CTP,jm2501,Exchange.DCE,3_1442987093_7,19312,Direction.SHORT,Offset.OPEN,1204.5,2,2024-12-04 21:16:03+08:00,jm2501.DCE,CTP.3_1442987093_7,CTP.19312
7,CTP,PF502,Exchange.CZCE,3_1442987093_8,2024120500019315,Direction.LONG,Offset.CLOSE,6896.0,6,2024-12-04 21:16:04+08:00,PF502.CZCE,CTP.3_1442987093_8,CTP.2024120500019315
8,CTP,CY503,Exchange.CZCE,3_1442987093_9,2024120500019342,Direction.LONG,Offset.OPEN,19915.0,1,2024-12-04 21:16:06+08:00,CY503.CZCE,CTP.3_1442987093_9,CTP.2024120500019342

In [ ]:
qwe1.columns
# there are no transaction fee,

Index(['gateway_name', 'symbol', 'exchange', 'orderid', 'tradeid', 'direction',
       'offset', 'price', 'volume', 'datetime', 'vt_symbol', 'vt_orderid',
       'vt_tradeid'],
      dtype='object')

In [3]:
qwe2

,gateway_name,symbol,exchange,orderid,type,direction,offset,price,volume,traded,status,datetime,reference,vt_symbol,vt_orderid
0,CTP,eg2501,Exchange.DCE,3_1442987093_1,OrderType.FAK,Direction.LONG,Offset.CLOSE,4660.0,4,4,Status.ALLTRADED,2024-12-04 21:16:03+08:00,,eg2501.DCE,CTP.3_1442987093_1
1,CTP,l2501,Exchange.DCE,3_1442987093_2,OrderType.FAK,Direction.LONG,Offset.OPEN,8415.0,2,2,Status.ALLTRADED,2024-12-04 21:16:03+08:00,,l2501.DCE,CTP.3_1442987093_2
2,CTP,p2501,Exchange.DCE,3_1442987093_3,OrderType.FAK,Direction.LONG,Offset.CLOSE,10332.0,2,2,Status.ALLTRADED,2024-12-04 21:16:03+08:00,,p2501.DCE,CTP.3_1442987093_3
3,CTP,SA501,Exchange.CZCE,3_1442987093_4,OrderType.FAK,Direction.SHORT,Offset.OPEN,1425.0,3,3,Status.ALLTRADED,2024-12-04 21:16:03+08:00,,SA501.CZCE,CTP.3_1442987093_4
4,CTP,a2501,Exchange.DCE,3_1442987093_5,OrderType.FAK,Direction.SHORT,Offset.OPEN,3826.0,5,5,Status.ALLTRADED,2024-12-04 21:16:03+08:00,,a2501.DCE,CTP.3_1442987093_5
5,CTP,cs2501,Exchange.DCE,3_1442987093_6,OrderType.FAK,Direction.LONG,Offset.CLOSE,2481.0,1,1,Status.ALLTRADED,2024-12-04 21:16:03+08:00,,cs2501.DCE,CTP.3_1442987093_6
6,CTP,jm2501,Exchange.DCE,3_1442987093_7,OrderType.FAK,Direction.SHORT,Offset.OPEN,1204.5,2,2,Status.ALLTRADED,2024-12-04 21:16:03+08:00,,jm2501.DCE,CTP.3_1442987093_7
7,CTP,PF502,Exchange.CZCE,3_1442987093_8,OrderType.FAK,Direction.LONG,Offset.CLOSE,6896.0,6,6,Status.ALLTRADED,2024-12-04 21:16:04+08:00,,PF502.CZCE,CTP.3_1442987093_8
8,CTP,CY503,Exchange.CZCE,3_1442987093_9,OrderType.FAK,Direction.LONG,Offset.OPEN,19915.0,1,1,Status.ALLTRADED,2024-12-04 21:16:06+08:00,,CY503.CZCE,CTP.3_1442987093_9

In [ ]:
qwe2.columns
# No average trading price

Index(['gateway_name', 'symbol', 'exchange', 'orderid', 'type', 'direction',
       'offset', 'price', 'volume', 'traded', 'status', 'datetime',
       'reference', 'vt_symbol', 'vt_orderid'],
      dtype='object')

In [1]:
from vnpy_portfoliostrategy.mysqlservice import MysqlService

In [2]:
from datetime import datetime
import pandas as pd
import numpy as np

In [ ]:
pd.DataFrame([[0,1]],
             index=pd.Index(['fu2501.SHFE'],name='symbol'),
             columns = ['target','pos'])

             target  pos
symbol
fu2501.SHFE       0    1

In [26]:
import json
trading_hours[['symbol','trading_hours']].set_index('symbol').to_dict()['trading_hours']

{'a2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ag2502.SHFE': '21:01-02:30,09:01-10:15,10:31-11:30,13:31-15:00',
 'al2501.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ao2501.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'AP501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'au2502.SHFE': '21:01-02:30,09:01-10:15,10:31-11:30,13:31-15:00',
 'b2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'bb2501.DCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'bc2412.INE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'br2501.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'bu2501.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'c2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'CF501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'CJ501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'cs2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'cu2412.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'CY503.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'eb2412.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ec2502.INE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'eg2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'fb2501.DCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'FG501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'fu2501.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'hc2501.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'i2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'IC2412.CFFEX': '09:31-11:30,13:01-15:00',
 'IF2412.CFFEX': '09:31-11:30,13:01-15:00',
 'IH2412.CFFEX': '09:31-11:30,13:01-15:00',
 'IM2412.CFFEX': '09:31-11:30,13:01-15:00',
 'j2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'jd2501.DCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'jm2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'JR501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'l2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'lc2501.GFEX': '09:01-10:15,10:31-11:30,13:31-15:00',
 'lh2501.DCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'LR501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'lu2502.INE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'm2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'MA501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ni2412.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'nr2501.INE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'OI501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'p2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'pb2412.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'PF502.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'pg2412.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'PK501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'PM501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'pp2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'PR503.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'PX501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'rb2501.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'RI501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'RM501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'rr2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'RS507.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'ru2501.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'SA501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'sc2501.INE': '21:01-02:30,09:01-10:15,10:31-11:30,13:31-15:00',
 'SF501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'SH501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'si2501.GFEX': '09:01-10:15,10:31-11:30,13:31-15:00',
 'SM501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'sn2412.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'sp2501.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'SR501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ss2501.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'T2412.CFFEX': '09:31-11:30,13:01-15:15',
 'TA501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'TF2412.CFFEX': '09:31-11:30,13:01-15:15',
 'TL2412.CFFEX': '09:31-11:30,13:01-15:15',
 'TS2412.CFFEX': '09:31-11:30,13:01-15:15',
 'UR501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'v2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'WH501.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'wr2501.SHFE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'y2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ZC412.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'zn2412.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'a2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ag2504.SHFE': '21:01-02:30,09:01-10:15,10:31-11:30,13:31-15:00',
 'al2502.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ao2502.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'AP505.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'au2504.SHFE': '21:01-02:30,09:01-10:15,10:31-11:30,13:31-15:00',
 'b2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'bb2504.DCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'bc2501.INE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'br2505.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'bu2502.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'c2503.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'CF505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'CJ505.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'cs2503.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'cu2501.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'CY506.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'eb2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ec2506.INE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'eg2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'fb2502.DCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'FG505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'fu2503.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'hc2503.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'i2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'j2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'jd2502.DCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'jm2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'JR503.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'l2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'lc2505.GFEX': '09:01-10:15,10:31-11:30,13:31-15:00',
 'lh2503.DCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'LR503.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'lu2503.INE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'm2509.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'MA505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ni2501.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'nr2502.INE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'OI505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'p2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'pb2501.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'PF503.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'pg2501.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'PK503.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'PM503.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'pp2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'PR505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'PX502.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'rb2503.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'RI503.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'RM505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'rr2509.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'RS509.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'ru2505.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'SA505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'sc2502.INE': '21:01-02:30,09:01-10:15,10:31-11:30,13:31-15:00',
 'SF502.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'SH502.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'si2502.GFEX': '09:01-10:15,10:31-11:30,13:31-15:00',
 'SM505.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'sn2501.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'sp2503.SHFE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'SR505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ss2502.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'T2503.CFFEX': '09:31-11:30,13:01-15:15',
 'TA505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'TF2503.CFFEX': '09:31-11:30,13:01-15:15',
 'TL2503.CFFEX': '09:31-11:30,13:01-15:15',
 'TS2503.CFFEX': '09:31-11:30,13:01-15:15',
 'UR505.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'v2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'WH503.CZCE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'wr2505.SHFE': '09:01-10:15,10:31-11:30,13:31-15:00',
 'y2505.DCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'ZC501.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'zn2501.SHFE': '21:01-01:00,09:01-10:15,10:31-11:30,13:31-15:00',
 'JR411.CZCE': 'None',
 'LR411.CZCE': 'None',
 'PM411.CZCE': 'None',
 'RI411.CZCE': 'None',
 'sc2412.INE': '21:01-02:30,09:01-10:15,10:31-11:30,13:31-15:00',
 'WH411.CZCE': 'None',
 'SH505.CZCE': '21:01-23:00,09:01-10:15,10:31-11:30,13:31-15:00'}

In [13]:
db = MysqlService()
db.init_connection()

current_day = datetime(2024,11,14)
rebal_tar = db.select('daily_rebalance_target',today = current_day, strategy = 'strategy2')
trading_schedule = db.select('trading_schedule',today = current_day, strategy = 'strategy2').set_index('id').drop_duplicates()
previous_trading_schedule = db.select('trading_schedule',date = current_day, strategy = 'strategy2').set_index('id').drop_duplicates()
trading_hours = db.select('trading_hours',date = trading_schedule['date'].iloc[0])
pos_data = db.select('current_pos', strategy = 'strategy2')

if trading_schedule.shape[0]!=1 or previous_trading_schedule.shape[0]!=1:
    raise Exception('Wrong trading schedule for strategy2')

rebal_tar = pd.concat([pd.Series(rebal_tar['symbol'].values[0].split(',')),
                        pd.Series(rebal_tar['target'].values[0].split(','))],axis=1,keys=['symbol','target'])
to_trade_df = pd.concat([pd.Series(trading_schedule['symbol'].values[0].split(',')).str[:-4],
                            pd.Series(trading_schedule['symbol'].values[0].split(','))],axis=1,keys=['symbol','symb']
                        ).merge(trading_hours[['rqsymbol','symbol']],left_on='symb',right_on='rqsymbol',how='inner'
                                ).merge(rebal_tar,left_on='symbol_x',right_on='symbol',how='inner'
                                        )[['symbol_y','target']]
                                
db.close()

In [14]:
to_trade_df['target'] = pd.to_numeric(to_trade_df['target'])

In [15]:
ans = pos_data[['symbol','pos']].set_index('symbol').join(to_trade_df.set_index('symbol_y'),how='outer')

In [17]:
ans.index

Index(['AP501.CZCE', 'AP501.CZCE', 'CF501.CZCE', 'CF501.CZCE', 'CY503.CZCE',
       'CY503.CZCE', 'FG501.CZCE', 'FG501.CZCE', 'MA501.CZCE', 'MA501.CZCE',
       'OI501.CZCE', 'OI501.CZCE', 'PF502.CZCE', 'PF502.CZCE', 'PK501.CZCE',
       'PK501.CZCE', 'PR503.CZCE', 'PR503.CZCE', 'PX501.CZCE', 'PX501.CZCE',
       'RM501.CZCE', 'RM501.CZCE', 'SA501.CZCE', 'SA501.CZCE', 'SF501.CZCE',
       'SF501.CZCE', 'SM501.CZCE', 'SM501.CZCE', 'SR501.CZCE', 'SR501.CZCE',
       'TA501.CZCE', 'TA501.CZCE', 'UR501.CZCE', 'UR501.CZCE', 'a2501.DCE',
       'a2501.DCE', 'al2501.SHFE', 'al2501.SHFE', 'ao2501.SHFE', 'ao2501.SHFE',
       'b2501.DCE', 'b2501.DCE', 'bu2501.SHFE', 'bu2501.SHFE', 'c2501.DCE',
       'c2501.DCE', 'cs2501.DCE', 'cs2501.DCE', 'eb2412.DCE', 'eb2412.DCE',
       'eg2501.DCE', 'eg2501.DCE', 'fu2501.SHFE', 'fu2501.SHFE', 'hc2501.SHFE',
       'hc2501.SHFE', 'i2501.DCE', 'i2501.DCE', 'j2501.DCE', 'j2501.DCE',
       'jd2501.DCE', 'jd2501.DCE', 'jm2501.DCE', 'jm2501.DCE', 'l2501.DCE',
       'l2501.DCE', 'lh2501.DCE', 'lh2501.DCE', 'lu2502.INE', 'lu2502.INE',
       'm2505.DCE', 'm2505.DCE', 'ni2412.SHFE', 'ni2412.SHFE', 'p2501.DCE',
       'p2501.DCE', 'pg2412.DCE', 'pg2412.DCE', 'pp2501.DCE', 'pp2501.DCE',
       'rb2501.SHFE', 'rb2501.SHFE', 'ru2501.SHFE', 'ru2501.SHFE',
       'sp2501.SHFE', 'sp2501.SHFE', 'ss2501.SHFE', 'ss2501.SHFE', 'v2501.DCE',
       'v2501.DCE', 'y2501.DCE', 'y2501.DCE', 'zn2412.SHFE', 'zn2412.SHFE'],
      dtype='object', name='symbol')

In [18]:
set(pd.Series(list(set(pos_data['symbol'].values.tolist()) | set(to_trade_df['symbol_y'].values.tolist()))).str.strip().values.tolist()) == set(ans.index)

True

In [21]:
import json

In [33]:
str(datetime.now())

'2024-09-23 14:31:16.126480'

In [11]:
pd.concat([pd.Series(trading_schedule['symbol'].values[0].split(',')).str[:-4],
                            pd.Series(trading_schedule['symbol'].values[0].split(','))],axis=1,keys=['symbol','symb']
                        ).merge(trading_hours[['rqsymbol','symbol']],left_on='symb',right_on='rqsymbol',how='inner'
                                )

   symbol_x    symb rqsymbol     symbol_y
0         A   A2501    A2501    a2501.DCE
1        AL  AL2411   AL2411  al2411.SHFE
2        AO  AO2411   AO2411  ao2411.SHFE
3        AP  AP2501   AP2501   AP501.CZCE
4         B   B2411    B2411    b2411.DCE
..      ...     ...      ...          ...
62       WH  WH2411   WH2411   WH411.CZCE
63       WR  WR2410   WR2410  wr2410.SHFE
64        Y   Y2501    Y2501    y2501.DCE
65       ZC  ZC2410   ZC2410   ZC410.CZCE
66       ZN  ZN2411   ZN2411  zn2411.SHFE

[67 rows x 4 columns]

In [12]:
rollover_df.query('pre!=post')

Empty DataFrame
Columns: [pre, post]
Index: []

In [10]:
rollover_df = pd.concat([pd.Series(previous_trading_schedule['symbol'].values[0].split(',')),
                 pd.Series(trading_schedule['symbol'].values[0].split(','))],axis=1,keys=['pre','post'])

In [20]:
rollover_df.query("pre!=post").replace(trading_hours[['rqsymbol','symbol']].set_index('rqsymbol').to_dict()['symbol'])

       pre         post
63  WR2409  wr2410.SHFE

In [19]:
rollover_df.query("pre!=post").map(lambda x: len(str(x)))

       pre    post
63  WR2409  WR2410

In [15]:
trading_hours[['rqsymbol','symbol']].set_index('rqsymbol').to_dict()['symbol']

{'A2501': 'a2501.DCE',
 'AG2412': 'ag2412.SHFE',
 'AL2411': 'al2411.SHFE',
 'AO2411': 'ao2411.SHFE',
 'AP2501': 'AP501.CZCE',
 'AU2412': 'au2412.SHFE',
 'B2411': 'b2411.DCE',
 'BB2501': 'bb2501.DCE',
 'BC2411': 'bc2411.INE',
 'BR2411': 'br2411.SHFE',
 'BU2411': 'bu2411.SHFE',
 'C2411': 'c2411.DCE',
 'CF2501': 'CF501.CZCE',
 'CJ2501': 'CJ501.CZCE',
 'CS2411': 'cs2411.DCE',
 'CU2410': 'cu2410.SHFE',
 'CY2501': 'CY501.CZCE',
 'EB2411': 'eb2411.DCE',
 'EC2412': 'ec2412.INE',
 'EG2501': 'eg2501.DCE',
 'FB2501': 'fb2501.DCE',
 'FG2501': 'FG501.CZCE',
 'FU2411': 'fu2411.SHFE',
 'HC2501': 'hc2501.SHFE',
 'I2501': 'i2501.DCE',
 'IC2410': 'IC2410.CFFEX',
 'IF2410': 'IF2410.CFFEX',
 'IH2410': 'IH2410.CFFEX',
 'IM2410': 'IM2410.CFFEX',
 'J2501': 'j2501.DCE',
 'JD2501': 'jd2501.DCE',
 'JM2501': 'jm2501.DCE',
 'JR2411': 'JR411.CZCE',
 'L2501': 'l2501.DCE',
 'LC2411': 'lc2411.GFEX',
 'LH2411': 'lh2411.DCE',
 'LR2411': 'LR411.CZCE',
 'LU2412': 'lu2412.INE',
 'M2501': 'm2501.DCE',
 'MA2501': 'MA501.CZCE',
 'NI2410': 'ni2410.SHFE',
 'NR2411': 'nr2411.INE',
 'OI2501': 'OI501.CZCE',
 'P2501': 'p2501.DCE',
 'PB2410': 'pb2410.SHFE',
 'PF2411': 'PF411.CZCE',
 'PG2411': 'pg2411.DCE',
 'PK2411': 'PK411.CZCE',
 'PM2411': 'PM411.CZCE',
 'PP2501': 'pp2501.DCE',
 'PR2503': 'PR503.CZCE',
 'PX2501': 'PX501.CZCE',
 'RB2501': 'rb2501.SHFE',
 'RI2411': 'RI411.CZCE',
 'RM2501': 'RM501.CZCE',
 'RR2411': 'rr2411.DCE',
 'RS2411': 'RS411.CZCE',
 'RU2501': 'ru2501.SHFE',
 'SA2501': 'SA501.CZCE',
 'SC2411': 'sc2411.INE',
 'SF2501': 'SF501.CZCE',
 'SH2501': 'SH501.CZCE',
 'SI2411': 'si2411.GFEX',
 'SM2501': 'SM501.CZCE',
 'SN2410': 'sn2410.SHFE',
 'SP2501': 'sp2501.SHFE',
 'SR2501': 'SR501.CZCE',
 'SS2411': 'ss2411.SHFE',
 'T2412': 'T2412.CFFEX',
 'TA2501': 'TA501.CZCE',
 'TF2412': 'TF2412.CFFEX',
 'TL2412': 'TL2412.CFFEX',
 'TS2412': 'TS2412.CFFEX',
 'UR2501': 'UR501.CZCE',
 'V2501': 'v2501.DCE',
 'WH2411': 'WH411.CZCE',
 'WR2410': 'wr2410.SHFE',
 'Y2501': 'y2501.DCE',
 'ZC2410': 'ZC410.CZCE',
 'ZN2411': 'zn2411.SHFE',
 'A2503': 'a2503.DCE',
 'AG2502': 'ag2502.SHFE',
 'AL2412': 'al2412.SHFE',
 'AO2412': 'ao2412.SHFE',
 'AP2505': 'AP505.CZCE',
 'AU2502': 'au2502.SHFE',
 'B2505': 'b2505.DCE',
 'BB2504': 'bb2504.DCE',
 'BC2412': 'bc2412.INE',
 'BR2412': 'br2412.SHFE',
 'BU2501': 'bu2501.SHFE',
 'C2501': 'c2501.DCE',
 'CF2505': 'CF505.CZCE',
 'CJ2505': 'CJ505.CZCE',
 'CS2501': 'cs2501.DCE',
 'CU2411': 'cu2411.SHFE',
 'CY2505': 'CY505.CZCE',
 'EB2412': 'eb2412.DCE',
 'EC2502': 'ec2502.INE',
 'EG2505': 'eg2505.DCE',
 'FB2502': 'fb2502.DCE',
 'FG2505': 'FG505.CZCE',
 'FU2503': 'fu2503.SHFE',
 'HC2503': 'hc2503.SHFE',
 'I2505': 'i2505.DCE',
 'J2505': 'j2505.DCE',
 'JD2502': 'jd2502.DCE',
 'JM2505': 'jm2505.DCE',
 'JR2501': 'JR501.CZCE',
 'L2505': 'l2505.DCE',
 'LC2501': 'lc2501.GFEX',
 'LH2501': 'lh2501.DCE',
 'LR2501': 'LR501.CZCE',
 'LU2501': 'lu2501.INE',
 'M2505': 'm2505.DCE',
 'MA2505': 'MA505.CZCE',
 'NI2411': 'ni2411.SHFE',
 'NR2412': 'nr2412.INE',
 'OI2505': 'OI505.CZCE',
 'P2505': 'p2505.DCE',
 'PB2411': 'pb2411.SHFE',
 'PF2412': 'PF412.CZCE',
 'PG2412': 'pg2412.DCE',
 'PK2501': 'PK501.CZCE',
 'PM2501': 'PM501.CZCE',
 'PP2505': 'pp2505.DCE',
 'PR2505': 'PR505.CZCE',
 'PX2505': 'PX505.CZCE',
 'RB2503': 'rb2503.SHFE',
 'RI2501': 'RI501.CZCE',
 'RM2505': 'RM505.CZCE',
 'RR2412': 'rr2412.DCE',
 'RS2508': 'RS508.CZCE',
 'RU2505': 'ru2505.SHFE',
 'SA2505': 'SA505.CZCE',
 'SC2412': 'sc2412.INE',
 'SF2505': 'SF505.CZCE',
 'SH2505': 'SH505.CZCE',
 'SI2501': 'si2501.GFEX',
 'SM2505': 'SM505.CZCE',
 'SN2411': 'sn2411.SHFE',
 'SP2503': 'sp2503.SHFE',
 'SR2505': 'SR505.CZCE',
 'SS2412': 'ss2412.SHFE',
 'T2503': 'T2503.CFFEX',
 'TA2505': 'TA505.CZCE',
 'TF2503': 'TF2503.CFFEX',
 'TL2503': 'TL2503.CFFEX',
 'TS2503': 'TS2503.CFFEX',
 'UR2505': 'UR505.CZCE',
 'V2505': 'v2505.DCE',
 'WH2501': 'WH501.CZCE',
 'WR2503': 'wr2503.SHFE',
 'Y2505': 'y2505.DCE',
 'ZC2411': 'ZC411.CZCE',
 'ZN2412': 'zn2412.SHFE'}