In [1]:
from vnpy_portfoliostrategy.mysqlservice import MysqlService

In [2]:
from datetime import datetime
import pandas as pd
import numpy as np

In [3]:
db = MysqlService()

current_day = datetime(2024,9,20)
rebal_tar = db.select('daily_rebalance_target',today = current_day, strategy = 'strategy2')
trading_schedule = db.select('trading_schedule',today = current_day, strategy = 'strategy2').set_index('id').drop_duplicates()
previous_trading_schedule = db.select('trading_schedule',date = current_day, strategy = 'strategy2').set_index('id').drop_duplicates()
trading_hours = db.select('trading_hours',date = trading_schedule['date'].iloc[0])
pos_data = db.select('current_pos', strategy = 'strategy2')['symbol'].values.tolist()

if trading_schedule.shape[0]!=1 or previous_trading_schedule.shape[0]!=1:
    raise Exception('Wrong trading schedule for strategy2')

rebal_tar = pd.concat([pd.Series(rebal_tar['symbol'].values[0].split(',')),
                        pd.Series(rebal_tar['target'].values[0].split(','))],axis=1,keys=['symbol','target'])
to_trade_df = pd.concat([pd.Series(trading_schedule['symbol'].values[0].split(',')).str[:-4],
                            pd.Series(trading_schedule['symbol'].values[0].split(','))],axis=1,keys=['symbol','symb']
                        ).merge(trading_hours[['rqsymbol','symbol']],left_on='symb',right_on='rqsymbol',how='inner'
                                ).merge(rebal_tar,left_on='symbol_x',right_on='symbol',how='inner'
                                        )[['symbol_y','target']]
                                
db.close()

In [ ]:
pd.DataFrame(pos_data[5:]).reset_index()

In [5]:
pd.DataFrame(pos_data[5:]).join(to_trade_df,how='outer')

              0     symbol_y target
0     c2411.DCE    a2501.DCE      1
1    cs2411.DCE  al2411.SHFE     -1
2    eb2411.DCE  ao2411.SHFE      0
3   fu2411.SHFE   AP501.CZCE     -1
4     i2501.DCE    b2411.DCE     -1
5    jd2501.DCE  br2411.SHFE     -1
6    lh2411.DCE  bu2411.SHFE      1
7     m2501.DCE    c2411.DCE      0
8     p2501.DCE   CF501.CZCE      0
9    pg2411.DCE   CJ501.CZCE      1
10   pp2501.DCE   cs2411.DCE      1
11  ss2411.SHFE   CY501.CZCE      1
12    v2501.DCE   eb2411.DCE      1
13  zn2411.SHFE   eg2501.DCE      1
14   CJ501.CZCE   FG501.CZCE      0
15   RM501.CZCE  fu2411.SHFE      1
16   SH501.CZCE  hc2501.SHFE      0
17   lu2412.INE    i2501.DCE      1
18   nr2411.INE    j2501.DCE     -1
19  rb2501.SHFE   jd2501.DCE     -1
20  ru2501.SHFE   jm2501.DCE     -1
21  sp2501.SHFE    l2501.DCE      1
22    y2501.DCE   lh2411.DCE     -1
23   PK411.CZCE   lu2412.INE      1
24    l2501.DCE    m2501.DCE      0
25   SF501.CZCE   MA501.CZCE      1
26   AP501.CZCE  ni2410.SHFE     -1
27    a2501.DCE   nr2411.INE      0
28    b2411.DCE   OI501.CZCE      0
29   OI501.CZCE    p2501.DCE      1
30   PX501.CZCE  pb2410.SHFE      0
31   SR501.CZCE   PF411.CZCE     -1
32   eg2501.DCE   pg2411.DCE      0
33  ni2410.SHFE   PK411.CZCE      1
34   CY501.CZCE   pp2501.DCE      0
35          NaN   PR503.CZCE      0
36          NaN   PX501.CZCE     -1
37          NaN  rb2501.SHFE      1
38          NaN   RM501.CZCE      0
39          NaN  ru2501.SHFE      0
40          NaN   SA501.CZCE      1
41          NaN   SF501.CZCE     -1
42          NaN   SH501.CZCE      0
43          NaN   SM501.CZCE      0
44          NaN  sn2410.SHFE     -1
45          NaN  sp2501.SHFE     -1
46          NaN   SR501.CZCE      1
47          NaN  ss2411.SHFE     -1
48          NaN   TA501.CZCE      0
49          NaN   UR501.CZCE      0
50          NaN    v2501.DCE      1
51          NaN    y2501.DCE      1
52          NaN  zn2411.SHFE      0

In [ ]:
pd.DataFrame(pos_data[5:]).set_index(0)

In [11]:
pd.concat([pd.Series(trading_schedule['symbol'].values[0].split(',')).str[:-4],
                            pd.Series(trading_schedule['symbol'].values[0].split(','))],axis=1,keys=['symbol','symb']
                        ).merge(trading_hours[['rqsymbol','symbol']],left_on='symb',right_on='rqsymbol',how='inner'
                                )

   symbol_x    symb rqsymbol     symbol_y
0         A   A2501    A2501    a2501.DCE
1        AL  AL2411   AL2411  al2411.SHFE
2        AO  AO2411   AO2411  ao2411.SHFE
3        AP  AP2501   AP2501   AP501.CZCE
4         B   B2411    B2411    b2411.DCE
..      ...     ...      ...          ...
62       WH  WH2411   WH2411   WH411.CZCE
63       WR  WR2410   WR2410  wr2410.SHFE
64        Y   Y2501    Y2501    y2501.DCE
65       ZC  ZC2410   ZC2410   ZC410.CZCE
66       ZN  ZN2411   ZN2411  zn2411.SHFE

[67 rows x 4 columns]

In [7]:
rollover_df = pd.concat([pd.Series(previous_trading_schedule['symbol'].values[0].split(',')),
                 pd.Series(trading_schedule['symbol'].values[0].split(','))],axis=1,keys=['pre','post'])

In [20]:
rollover_df.query("pre!=post").replace(trading_hours[['rqsymbol','symbol']].set_index('rqsymbol').to_dict()['symbol'])

       pre         post
63  WR2409  wr2410.SHFE

In [19]:
rollover_df.query("pre!=post").map(lambda x: len(str(x)))

       pre    post
63  WR2409  WR2410

In [15]:
trading_hours[['rqsymbol','symbol']].set_index('rqsymbol').to_dict()['symbol']

{'A2501': 'a2501.DCE',
 'AG2412': 'ag2412.SHFE',
 'AL2411': 'al2411.SHFE',
 'AO2411': 'ao2411.SHFE',
 'AP2501': 'AP501.CZCE',
 'AU2412': 'au2412.SHFE',
 'B2411': 'b2411.DCE',
 'BB2501': 'bb2501.DCE',
 'BC2411': 'bc2411.INE',
 'BR2411': 'br2411.SHFE',
 'BU2411': 'bu2411.SHFE',
 'C2411': 'c2411.DCE',
 'CF2501': 'CF501.CZCE',
 'CJ2501': 'CJ501.CZCE',
 'CS2411': 'cs2411.DCE',
 'CU2410': 'cu2410.SHFE',
 'CY2501': 'CY501.CZCE',
 'EB2411': 'eb2411.DCE',
 'EC2412': 'ec2412.INE',
 'EG2501': 'eg2501.DCE',
 'FB2501': 'fb2501.DCE',
 'FG2501': 'FG501.CZCE',
 'FU2411': 'fu2411.SHFE',
 'HC2501': 'hc2501.SHFE',
 'I2501': 'i2501.DCE',
 'IC2410': 'IC2410.CFFEX',
 'IF2410': 'IF2410.CFFEX',
 'IH2410': 'IH2410.CFFEX',
 'IM2410': 'IM2410.CFFEX',
 'J2501': 'j2501.DCE',
 'JD2501': 'jd2501.DCE',
 'JM2501': 'jm2501.DCE',
 'JR2411': 'JR411.CZCE',
 'L2501': 'l2501.DCE',
 'LC2411': 'lc2411.GFEX',
 'LH2411': 'lh2411.DCE',
 'LR2411': 'LR411.CZCE',
 'LU2412': 'lu2412.INE',
 'M2501': 'm2501.DCE',
 'MA2501': 'MA501.CZCE',
 'NI2410': 'ni2410.SHFE',
 'NR2411': 'nr2411.INE',
 'OI2501': 'OI501.CZCE',
 'P2501': 'p2501.DCE',
 'PB2410': 'pb2410.SHFE',
 'PF2411': 'PF411.CZCE',
 'PG2411': 'pg2411.DCE',
 'PK2411': 'PK411.CZCE',
 'PM2411': 'PM411.CZCE',
 'PP2501': 'pp2501.DCE',
 'PR2503': 'PR503.CZCE',
 'PX2501': 'PX501.CZCE',
 'RB2501': 'rb2501.SHFE',
 'RI2411': 'RI411.CZCE',
 'RM2501': 'RM501.CZCE',
 'RR2411': 'rr2411.DCE',
 'RS2411': 'RS411.CZCE',
 'RU2501': 'ru2501.SHFE',
 'SA2501': 'SA501.CZCE',
 'SC2411': 'sc2411.INE',
 'SF2501': 'SF501.CZCE',
 'SH2501': 'SH501.CZCE',
 'SI2411': 'si2411.GFEX',
 'SM2501': 'SM501.CZCE',
 'SN2410': 'sn2410.SHFE',
 'SP2501': 'sp2501.SHFE',
 'SR2501': 'SR501.CZCE',
 'SS2411': 'ss2411.SHFE',
 'T2412': 'T2412.CFFEX',
 'TA2501': 'TA501.CZCE',
 'TF2412': 'TF2412.CFFEX',
 'TL2412': 'TL2412.CFFEX',
 'TS2412': 'TS2412.CFFEX',
 'UR2501': 'UR501.CZCE',
 'V2501': 'v2501.DCE',
 'WH2411': 'WH411.CZCE',
 'WR2410': 'wr2410.SHFE',
 'Y2501': 'y2501.DCE',
 'ZC2410': 'ZC410.CZCE',
 'ZN2411': 'zn2411.SHFE',
 'A2503': 'a2503.DCE',
 'AG2502': 'ag2502.SHFE',
 'AL2412': 'al2412.SHFE',
 'AO2412': 'ao2412.SHFE',
 'AP2505': 'AP505.CZCE',
 'AU2502': 'au2502.SHFE',
 'B2505': 'b2505.DCE',
 'BB2504': 'bb2504.DCE',
 'BC2412': 'bc2412.INE',
 'BR2412': 'br2412.SHFE',
 'BU2501': 'bu2501.SHFE',
 'C2501': 'c2501.DCE',
 'CF2505': 'CF505.CZCE',
 'CJ2505': 'CJ505.CZCE',
 'CS2501': 'cs2501.DCE',
 'CU2411': 'cu2411.SHFE',
 'CY2505': 'CY505.CZCE',
 'EB2412': 'eb2412.DCE',
 'EC2502': 'ec2502.INE',
 'EG2505': 'eg2505.DCE',
 'FB2502': 'fb2502.DCE',
 'FG2505': 'FG505.CZCE',
 'FU2503': 'fu2503.SHFE',
 'HC2503': 'hc2503.SHFE',
 'I2505': 'i2505.DCE',
 'J2505': 'j2505.DCE',
 'JD2502': 'jd2502.DCE',
 'JM2505': 'jm2505.DCE',
 'JR2501': 'JR501.CZCE',
 'L2505': 'l2505.DCE',
 'LC2501': 'lc2501.GFEX',
 'LH2501': 'lh2501.DCE',
 'LR2501': 'LR501.CZCE',
 'LU2501': 'lu2501.INE',
 'M2505': 'm2505.DCE',
 'MA2505': 'MA505.CZCE',
 'NI2411': 'ni2411.SHFE',
 'NR2412': 'nr2412.INE',
 'OI2505': 'OI505.CZCE',
 'P2505': 'p2505.DCE',
 'PB2411': 'pb2411.SHFE',
 'PF2412': 'PF412.CZCE',
 'PG2412': 'pg2412.DCE',
 'PK2501': 'PK501.CZCE',
 'PM2501': 'PM501.CZCE',
 'PP2505': 'pp2505.DCE',
 'PR2505': 'PR505.CZCE',
 'PX2505': 'PX505.CZCE',
 'RB2503': 'rb2503.SHFE',
 'RI2501': 'RI501.CZCE',
 'RM2505': 'RM505.CZCE',
 'RR2412': 'rr2412.DCE',
 'RS2508': 'RS508.CZCE',
 'RU2505': 'ru2505.SHFE',
 'SA2505': 'SA505.CZCE',
 'SC2412': 'sc2412.INE',
 'SF2505': 'SF505.CZCE',
 'SH2505': 'SH505.CZCE',
 'SI2501': 'si2501.GFEX',
 'SM2505': 'SM505.CZCE',
 'SN2411': 'sn2411.SHFE',
 'SP2503': 'sp2503.SHFE',
 'SR2505': 'SR505.CZCE',
 'SS2412': 'ss2412.SHFE',
 'T2503': 'T2503.CFFEX',
 'TA2505': 'TA505.CZCE',
 'TF2503': 'TF2503.CFFEX',
 'TL2503': 'TL2503.CFFEX',
 'TS2503': 'TS2503.CFFEX',
 'UR2505': 'UR505.CZCE',
 'V2505': 'v2505.DCE',
 'WH2501': 'WH501.CZCE',
 'WR2503': 'wr2503.SHFE',
 'Y2505': 'y2505.DCE',
 'ZC2411': 'ZC411.CZCE',
 'ZN2412': 'zn2412.SHFE'}